//
    个人详情页
    User: laichendong
    Date: 13-5-3
    Time: 下午8:03
extends layout
block content
  .w
    .list-area
      .list-area-title
        h2 北京赛区
      .details
        .description
          dl
            dt 姓名：
            dd= candidate.name
            dt 部门：
            dd= candidate.department
            dt 介绍：
            dd= candidate.description
            dt.purple 票数：
            dd.purple
              strong= candidate.votes
            .toupiao
              a(href="/candidate/#{candidate._id}/vote").btn.btn-r1 投票
        .portraits
          -for(var i=0; i<6; i++)
            .portrait
              img(src="", alt="达人的姓名")
