//
   User: laichendong
   Date: 13-4-23
   Time: 上午11:31
extends layout
block content
  .w
    .list-area
      - var init_s = ""
      #list-area-title.list-area-title
        table
          tr
            each scope,i in subject.scopes
              - var curr = ""
              - if(i==0)
                - curr = "curr"
                - init_s = scope._id
              td.scopeTitle(class="#{curr}",s_id=scope._id)
                h2: a(href="#list-area-title")= scope.name
      - for (s_id in candidates)
        - var hide = init_s == s_id ? "" : "hide"
        .scopeBox(class=hide,s_id=s_id)
          - for (g_id in candidates[s_id])
            .list-category
              h3= groupName(g_id, subject.groups)
                .more
                  a(href="/subject/#{subject._id}/candidate/?s_id=#{s_id}&g_id=#{g_id}") 更多&gt;
              for c in candidates[s_id][g_id]
                .list-item
                  .portrait
                    a(href="/candidate/#{c._id}")
                      img(src=c.avatar, alt=c.name)
                  dl
                    dt 姓名：
                    dd= c.name
                    dt 部门：
                    dd= c.department
                    dt 介绍：
                    dd= c.description
                    dt.purple 票数：
                    dd.purple
                      strong= c.votes
                  .toupiao
                    a(href="/candidate/#{c._id}/vote").btn.btn-r1 投票
  script
    $(function(){
      $(".scopeTitle").css("cursor", "pointer").click(function(){
        $(".scopeTitle").removeClass("curr");
        var s_id = $(this).addClass("curr").attr("s_id");
        $(".scopeBox").hide();
        $(".scopeBox[s_id='"+s_id+"']").show();;
      });
    });
