extends ../layouts/adminWithSideBar
block head
    link(href="/css/bootstrapSwitch.css",rel="stylesheet",media="screen")
    link(href="/js/datepicker/css/datepicker.css",rel="stylesheet",media="screen")
    script(src="/js/bootstrap-sniper.js")
    script(src="/js/load/load.js")
    style
        .muted {
            background: #F5F5F5;
        }
    script(src="/js/datepicker/js/bootstrap-datepicker.js")
    script
        $(function(){
            $('#voteMax').sniper();
            $('#regMax').sniper();
            $(".dpInpt").datepicker({format:'yyyy-mm-dd'});

            $('#addScopeBtn').popover({
                placement:'bottom',
                html:true,
                content:$('#sp').html()
            }).click(function(){
                this.pop = !this.pop;
                this.pop ? $(this).popover('show') : $(this).popover('hide');
            });
        });


block sidebar
    ul.nav.nav-list
        li
            a adf
        li
            a adf
        li
            a adf

block main
    input#sid(type='hidden',value='#{subject._id}')
    div.page-header
        div.hero-unit
            h2!=subject.name
                small &nbsp;第 #{subject.round} 轮
            p!=subject.comment
            p
                div.btn-group
                    button.btn 下一轮投票
                    button.btn 选项管理
                    a(href='javascript:;').btn.btn-success.btn-add-opt 新选项

    h4 活动设置
    div.row
        .span9
            if subject.isPrivate == 1
                span.label.label-info.label-large 首页可见
            else
                span.label.label-large 首页不可见
            if subject.canReg == 1
                span.label.label-info.label-large 开放报名
            else
                span.label.label-large 不开放报名
            if subject.token
                span.label.label-important.label-large 使用令牌
            else
                span.label.label-large  禁用令牌
            .well
                if subject.canReg == 1
                    .input-prepend
                        span.add-on 报名链接
                        input.span7(type="text",value="http://#{config.app.domain}/subject/#{subject._id}/sign-up")
                if subject.token
                    .input-prepend
                        span.add-on 报名令牌
                        input.span7(type="text",value="#{subject.token}")
                p 每人可投票次数：#{subject.voteChance}
                p 每人可报名次数：#{subject.regChance}
                p 投票窗口期：#{fmt(subject.voteStart)} 到 #{fmt(subject.voteEnd)}
                p 报名窗口期：#{fmt(subject.regStart)} 到 #{fmt(subject.regEnd)}
    .pull-right
        a.btn.btn-primary 修改
    .clearfix
    hr

    h4 域
    div.row
        .span9
            div(style="overflow:")
            .alert
                ul
                    li 用于对选项进行水平分类
                    li 域的数量小于或等于一个时，不会显示域的信息
            div#scope.well.muted.hide
                table.table
                    thead
                        tr
                            th.span1 #
                            th 名称
                            th.span2 操作
                    tbody
                        tr.tmpl.hide
                            td
                            td
                            td
                                .btn-group
                                    button.btn.btn-small 修改
                                    button.btn.btn-small.btn-danger 删除
            btn#addScopeBtn.btn.btn-block.btn-success  添加域

    hr

    h4 分组
    div.row
        .span9
            .alert
                ul
                    li 用于对选项进行垂直分类
                    li 分组的数量小于或等于一个时，不会显示分组的信息
                    li 如果一个活动有分组信息，那么报名时必须要选择分组
                    li 当需要对活动的报名人数做限制时，可以在分组中设置
            p 默认分组
    hr

    //活动设置修改窗口
    div#set.hide
        h3 活动设置
        div.row
            .span3
                if subject.isPrivate == 1
                    div.switch(data-on-label='首页可见',data-off-label='首页不可见',style='min-width:220px')
                        input(name='sub[isPrivate]',type='checkbox',checked='true',value='1')
                else
                    div.switch(data-on-label='首页可见',data-off-label='首页不可见',style='min-width:220px')
                        input(name='sub[isPrivate]',type='checkbox',checked='false',value='1')
            .span3
                if subject.canReg == 1
                    div.switch(data-on-label='开放报名',data-off-label='不开放报名',style='min-width:220px')
                        input(name='sub[canReg]',type='checkbox',checked='true',value='1')
                else
                    div.switch(data-on-label='开放报名',data-off-label='不开放报名',style='min-width:220px')
                        input(name='sub[canReg]',type='checkbox',checked='false',value='1')
            .span3
                if subject.token
                    div.switch(data-on-label='使用令牌',data-off-label='禁用令牌',style='min-width:220px')
                        input(name='sub[token]',type='checkbox',value='1',checked='true')
                else
                    div.switch(data-on-label='使用令牌',data-off-label='禁用令牌',style='min-width:220px')
                        input(name='sub[token]',type='checkbox',value='1')
        div.row &nbsp;
        div.row
            div.span4
                div.well
                    h5 投票设置
                    p 每个人在这次活动中能投多少票
                    input#voteMax(type='text',name='sub[voteChance]',value="#{subject.voteChance}")
                    p 投票的窗口期：
                    div.input-append
                        input.dpInpt.input-block-level(name='sub[voteStart]',type="text",value='#{fmt(subject.voteStart)}')
                        span.add-on
                            i.icon-th
                    div.input-append
                        input.dpInpt.input-block-level(name='sub[voteEnd]',type="text",value='#{fmt(subject.voteEnd)}')
                        span.add-on
                            i.icon-th
            div.span4.fl-right
                div.well
                    h5 报名设置
                    p 每个人在这次活动中能报名几次
                    input#regMax(type='text',name='sub[regChance]',value='#{subject.regChance}')
                    p 报名的窗口期：
                    div.input-append
                        input.dpInpt.input-block-level(name='sub[regStart]',type="text",value='#{fmt(subject.regStart)}')
                        span.add-on
                            i.icon-th
                    div.input-append
                        input.dpInpt.input-block-level(name='sub[regEnd]',type="text",value='#{fmt(subject.regEnd)}')
                        span.add-on
                            i.icon-th
        br
        br
        br
        div.row
            div.span8
                div.div-center
                    a(href='javascript:;',onclick='sbmt()').btn.btn-primary  修改活动设置
        hr
    div#sp.hide
        .input-append
            input(type='text',placeholder='请输入域的名称')
            button(onclick='addScope(this)').btn.btn-success 确认
            button(onclick='closeAS()').btn
                i.icon-remove


block footer
    script(src="/js/bootstrapSwitch.js")
    script
        function sbmt() {
            //
        }
        //新增域
        function addScope(obj) {
            var val = jQuery.trim($(obj).prev().val());
            var data = {};
            data.name = val;
            data.subject = $('#sid').val();
            closeAS();
            if(val) {
                $('#addScopeBtn').loading('/scope/add',data,function(res){
                    var tab = $('#scope').show().find('table');
                    tab.append('<tr>' + tab.find('.tmpl').html() + '</tr>').show();
                    var tds = tab.find('tr:last td');
                    tds.eq(0).html(tab.find('tbody').find('tr').size() - 1);
                    tds.eq(1).html(res.name);
                });
            }
        }

        function closeAS() {
            var it = $('#addScopeBtn').popover('hide').get(0);
            it.pop = !it.pop;
        }

