//
    管理控制台首页
    User: laichendong
    Date: 13-4-30
    Time: 下午2:07
extends ../layouts/admin

block content
  // 分页显示主题
  ul.thumbnails
    for subject in subjects
      li.span4
        .thumbnail
          .well.well-small.clearfix
            h3(title!=subject.name)!=cut(subject.name, 9)
            .clearfix
              p.pull-right!=subject.owner
            p.subjectComment!=cut(subject.comment, 100)
            div.pull-right=fmt2(subject.createTime,'YYYY-MM-DD HH:mm')
          p
            a.btn.btn-info(href="/subject/#{subject._id}/edit") &nbsp;管&nbsp;&nbsp;理&nbsp;
            span &nbsp;&nbsp;
            a.btn(href="/subject/#{subject._id}") &nbsp;查&nbsp;&nbsp;看&nbsp;
            br

  // 分页条
  if pages > 1
    .pagination.pagination-centered
      ul
        != createPagination(pages, page)

  // 新增主题按钮
  hr
  .well
    a.btn.btn-large.btn-block.btn-primary(href="/subject/add") 新增主题