//
    个人详情页
    User: laichendong
    Date: 13-5-3
    Time: 下午8:03
extends layout
block head
    link(href="/#{template}/skin/detail.css",rel="stylesheet",media="screen")
    script(src="/js/dewplayer/dewplayer.js")

block content
    .w
        .list-area
            .list-area-title
                h2= scope.name
            .details.clearfix
                .detail_face
                    div
                        img(src="#{candidate.avatar}", alt="达人的姓名")
                    .detail_btn
                        a(href="/candidate/#{candidate._id}/vote").btn.btn-r1 投票
                .detail_content
                    span.detail_name #{candidate.name}
                    if(scope && scope.name)
                        span.detail_scope  / #{scope.name}
                    if(group && group.name)
                        span.detail_group / #{group.name}
                    p.detail_description  &nbsp;&nbsp;&nbsp;&nbsp;#{candidate.description}
                    p.detail_text  &nbsp;&nbsp;&nbsp;&nbsp;#{candidate.witOfText}
                        //img
                    each item in candidate.witOfImg
                        if item
                            .detail_wit
                                img(src="#{item}", alt="img")
                        //video
                    each video,i in candidate.witOfVideo
                        if video
                            -var img = video.replace('.mp4','.png');
                            .detail_wit
                                object(id="v#{i}",classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000",name="player",width="608",height="504")
                                    param(name="movie",value="/js/pl.swf")
                                    param(name="allowfullscreen",value="true")
                                    param(name="allowscriptaccess",value="always")
                                    param(name="flashvars",value="file=#{video}&image=#{img}")
                                    embed(type="application/x-shockwave-flash",id="ve#{i}",name="ve#{i}",src="/js/pl.swf",width="608",height="504",allowscriptaccess="always",allowfullscreen="true",flashvars="file=#{video}&image=#{img}")
                        //mp3
                    each item in candidate.witOfImg
                        .detail_wit
                            script
                                dewplayer("/test1.mp3");


                .detail_vote
                    .vote_num #{candidate.votes}






